<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAuthenticated()"><a href="/map"
					th:text="#{map.message}"> <span
						class="glyphicon glyphicon-log-out"></span>
				</a></li>
				<li sec:authorize="!isAuthenticated()"><a id="login_btn"
					href="/login" th:text="#{login.message}"> <span
						class="glyphicon glyphicon-log-in"></span>
				</a></li>
				<li><a href="/incidencias/list"
					sec:authorize="isAuthenticated()">Mostrar incidencias</a></li>
				<li><a href="/notifications/list"
					sec:authorize="isAuthenticated()">Mostrar notificaciones</a></li>
				<li><a href="/incidencias/statistics"
					sec:authorize="isAuthenticated()">Estadísticas</a></li>
				<li><a href="/incidencias/realTime"
					sec:authorize="isAuthenticated()">Incidencias (Tiempo real)</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout"
					th:text="#{logout.message}"> <span
						class="glyphicon glyphicon-log-out"></span>
				</a></li>

			</ul>
		</div>
	</div>
</nav>