<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
	
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/js/map.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css" />

<script th:inline="javascript">
  	  /*<![CDATA[*/
		  /*[# th:each="inci : ${incis}"]*/
	        var i = new google.maps.LatLng(/*[[${inci.lat}]]*/, /*[[${inci.long}]]*/);
	        addMarcador(i,/*[[${inci.name}]]*/);
	      /*[/]*/
	  /*]]>*/
</script> 

</head>
<body>

<nav th:replace="fragments/nav"/>

<div id="mapa-canvas"></div>

<footer th:replace="fragments/footer"/>

</body>
</html>