<!DOCTYPE html>
<html lang="es">
<head th:replace="fragments/head" />
<title>Estadisticas de las Incidencias</title>
<body>
	<nav th:replace="fragments/nav" />
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<div id="canvas-holder">
		<canvas id="myChart"></canvas>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var ctx = document.getElementById('myChart').getContext('2d');
		var theList = [[${estadisticas}]]
		var chart = new Chart(ctx, {
			// The type of chart we want to create
			type : 'line',			
			// The data for our dataset
			data : {
				labels : [ "Abiertas","Cerradas","En_proceso","Anuladas"],
				datasets : [ {
					label : "Número de incidencias de cada tipo",
					backgroundColor : 'rgb(255, 99, 132)',
					borderColor : 'rgb(255, 99, 132)',
					data : [theList[0],theList[1],theList[2],theList[3]],
				} ]
			},

			// Configuration options go here
			options : {}
		});
		/*]]>*/
	</script>
	<footer th:replace="fragments/footer" />
</body>
</html>
